@font-face {
    font-family: Inter;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}


nav {
    background-image: var(--bs-gradient);
}

.bg-info {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}

hr {
    color: white;
}

.nav-link:hover {
    color: white;
}

.slide-show-item-txt {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

#but {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: black;
    color: white;
    border-radius: none;
    border: none;
    font-size: 20px;
    padding: 10px;


}

.footer {

    background-image: linear-gradient(to right bottom, #545a64, #5e6169, #67686e, #707073, #787878);

}

body {
    overflow-x: hidden;
}

* {
    text-transform: capitalize;
}

body {


    background-image: linear-gradient(to right bottom, #fcfdff, #dfe5e8, #c3cece, #acb7b1, #9b9f93);
}

.whatsapp-float {
    position: fixed;
    bottom: 40px;
    right: 20px;
}

.font {
    color: #004040
}

/* .na{
    color:#8a795d !important

} */